@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  background: #2d2d2d;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  background: rgb(65, 65, 65);
  border: 2px solid rgb(30, 30, 30);
}

#ns_options {
  margin: 0; padding: 0;
  width: 20vw;
  background: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;

  .ns_slider {
    padding-left: 10px;
    align-items: center
  }

  input[type=range] {
    width: 60%;
    appearance: none;
    height: 6px;
    background: #d5d5d5;
    border-radius: 5px;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #272727;
    cursor: pointer;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid rgb(30, 30, 30);
  }

  .ns_slider button {
    border: none;
  }

  button img {
    padding: 7px;
  }
}

#ns_canvas {
  margin: 0; padding: 0;
  border: none;
  width: 75vw;
  height: 50vw;
  background: rgb(30, 30, 30);
  cursor: grab;
  overflow: hidden;
}

main, #ns_options{
  border-radius: 5px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  width: 30px;
  height: 30px;
}

/*h1 {*/
/*  font-family: "Roboto", sans-serif;*/
/*  font-optical-sizing: auto;*/
/*  font-weight: 200;*/
/*  font-style: normal;*/
/*  font-variation-settings: "wdth" 100;*/
/*  color: white;*/
/*  font-size: 20px;*/
/*  display: none;*/
/*}*/
